.About_parent{
    color: white;
    display: flex;
    gap: 30px;
    font: bolder;
    font-size: 30px;
    margin-top: 10%;
    z-index: 1;
    align-content: center;
    margin-left: 90px;

}
.left_about{
    width: 60%;
    border:"2px solid white"
}
.my_img{
    width: 410px;
    height: 410px;
    border-radius: 48%;
    
}
