.About_parent{
    color: white;
    display: flex;
    gap: 30px;
    font: bolder;
    font-size: 30px;
    margin-top: 10%;
    z-index: 1;
    align-content: center;
    margin-left: 90px;

}
.span{
    font-size: 60px;
    font-weight: bolder;
  
}
.left_about{
    width: 60%;
    border:"2px solid white"
}
.my_img{
    width: 300px;
    height: 350px;
    border-radius: 48%;
    
}
 /* responsive */
 @media only screen and (min-width: 414px) and (max-width: 896px)  {
    .About_parent{
        color: white;
        display: flex;
        flex-direction: column;
     
        font: bolder;
        font-size: 30px;
       
        z-index: 1;
        align-content: center;
        margin: auto;
        
    
    }
    .spantag{
        font-size: 25px;
        font-weight: bolder;
      
    }
    
    .left_about{
        width: 90%;
        border:"2px solid white"
    }
    .my_img{
        width: 310px;
        height: 310px;
        margin: auto;
        border-radius: 48%;
        
    }
 }
 @media only screen and (min-width: 390px) and (max-width: 844px)  {
    .About_parent{
        color: white;
        display: flex;
        flex-direction: column;
        
        font: bolder;
        font-size:30px;
        margin: auto;
 
        align-content: center;
       
    
    }
    .spantag{
        font-size: 30px;
        font-weight: bolder;
      
    }
    .my_img{
        width: 310px;
        height: 310px;
        margin: auto;
        border-radius: 48%;
        
    }
    .left_about{
        width: 90%;
        border:"2px solid white"
    }
 }
 @media only screen and (min-width: 768px) and (max-width: 1024px)  {

 }
 @media only screen and (min-width: 912px) and (max-width: 1368px)  {

 }