


.content{
   margin: auto;
  position: absolute;
  top: 10%;
  left: 50%;
/* border: 1px solid white; */
  background-color: none;
}
.content p,h2{
    color: white;
    font-size: 70px;
    font-weight: 600;
    color: white;
    font-family:sans-serif;

}

.gif_img{
    height: 420px;
    width: 500px;
    margin-left: 50px;
    border-radius: 20px;
}
.hero{
    display: flex;
   
}
.btn:hover{
  background-color: blue ;
  color:rgb(196, 61, 61);
}
.btn{
  background-color: white;
  color:black;
}
.url{
  width: 80px;
  height: 100px;
}
.main_skill{
  width: 120px;
 
  border:2px solid white;
  align-items: center;
  margin: auto;
  padding: 13px;
  transition: all .3s ease-in-out;
 
  
}
.main_skill:hover{
  box-shadow: 0 5px 15px;
  transform: translate3d(-0px, -25px, -5px);
}
.papa_box{
  display: grid;
grid-template-columns: repeat(6,1fr);
gap:20px;
color: white;
font-size: 20px;

}
.transistion{
  display: inline-block;


  animation-fill-mode: forwards;
  animation-iteration-count: infinite ;
  position: relative;
  animation-name: mymove;
  animation-duration: 3s;

}
@keyframes mymove {
  from {bottom: 0px;}
  to {bottom: 50px;}
}
