
.content{
   margin: auto;
  position: absolute;
  top:4%;
  left: 50%;
/* border: 1px solid white; */
  background-color: none;
}
.content p,h2{
    /* color: white; */
    font-size: 70px;
    font-weight: 600;
    /* color: white; */
    font-family:sans-serif;
}

.gif_img{
    height: 420px;
    width: 500px;
    margin-left: 50px;
    border-radius: 20px;
}
.hero{
    display: flex;
    /* border:2px solid red */
   
}
.btn:hover{
  background-color: blue ;
  color:rgb(196, 61, 61);
}
.btn{
  background-color: white;
  color:black;
}
.url{
  width: 70px;
  height: 80px;
 margin: auto;
}
.content{
  margin-left: 8%;
  width: 400px;

}
#skills{
   padding: 50px;
}
.main_skill{
  width: 220px;
  /* background-color: rgb(14, 13, 13); */
 
  /* border:2px solid white; */
  border: none;
  align-items: center;
  margin: auto;
  padding: 13px;
  transition: all .3s ease-in-out;
 
  
}
.main_skill:hover{
  box-shadow: 0 5px 15px;
  transform: translate3d(-0px, -25px, -5px);
}
.papa_box{
  display: grid;
grid-template-columns: repeat(5,1fr);
gap:20px;
/* color: white; */
font-size: 20px;

}
.transistion{
  display: inline-block;


  animation-fill-mode: forwards;
  animation-iteration-count: infinite ;
  position: relative;
  animation-name: mymove;
  animation-duration: 3s;
  margin-top: 1%;
}
@keyframes mymove {
  from {bottom: 0px;}
  to {bottom: 50px;}
}
 /* responsive */
 @media only screen and (max-width: 896px) and (min-width: 214px)  {
  .hero{
    display: flex;
    flex-direction: column;
    /* border:2px solid green; */
   
}
.gif_img{
display: none;}
.papa_box{
  display: grid;
grid-template-columns: repeat(1,1fr);
gap:5px;
/* color: white; */
font-size: 20px;

}
/* d */
.content{
  
  /* border: 2px solid rgb(46, 9, 9); */
  width: 10px;
  padding: 0px;
  margin-bottom: 10%;
 margin-left: -20%;
}
 }
 @media only screen and (min-width: 390px) and (max-width: 844px)  {
  .hero{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.transistion{
  font-size: 35px;
}
.papa_box{
  display: grid;
grid-template-columns: repeat(4,1fr);
gap:5px;
/* color: white; */
font-size: 20px;

}
.content{
  width: 100px;
  margin: auto;
  margin-left: -30px;
}
.main_skill{
  width: 120px;
  background-color: rgb(14, 13, 13);
 
  border:2px solid white;
  border: none;
  align-items: center;
  margin: auto;
  padding: 13px;
  transition: all .3s ease-in-out;
 
  
}
.transistion{
  font-size: 30px;
  margin-top: 20%;
}
 }

 @media only screen and (min-width: 350px) and (max-width: 450px)  {
  
  .papa_box{
    display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:5px;
  /* color: white; */
  font-size: 20px;
  
  }
.content{
  width: 200px;
  margin-bottom: 30%;
 }
 .transistion{
  font-size: 30px;
  margin-top: 20%;
}
.main_skill{
  width: 120px;
  /* background-color: rgb(14, 13, 13); */
 
  border:2px solid white;
  border: none;
  align-items: center;
  margin: auto;
 
  transition: all .3s ease-in-out;
  
}

}
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .content{
      /* border: 2px solid yellow; */
    
      margin: auto;
      margin-bottom:10%;
      margin-left: -35%;
      height: 400px;
      width: 600px;
  }
  .transistion{
      font-size: 30px;
      margin-top: 30%;
    }
  }