.single_projet_box{
    border: 2px solid white;
    width: 50%;
}
.rev_home{
    width: 600px;
    height: 300px;
}
.btn_div{
    display: flex;
    gap: 10px;
}
/* .project_main{
    display: flex;
    gap:20px;
} */
.tech_tool{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* color: whitesmoke; */
    gap:10px
}
.Headings{
    /* color: white; */
    font-size: 30px;
}
.Heading2{
    /* color: white; */
    font-size: 20px;
}
.single_projet_box{
    margin-top: 10%;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px white; 
 align-content: center; 
}
.single_projet_box2{
    width: 45%;
    border: 2px solid white;
}
.project_main{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-left: 60px;
  }
  .btn_box{
    display: flex;
   justify-content: space-evenly;
  }
  .btn_live{
    padding: 10px;

  }
   /* responsive */
   @media only screen and (min-width: 204px) and (max-width: 896px)  {
    .project_main{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
     
      }
      .single_projet_box{
        margin-top: 10%;
        width: 85%;
        margin: auto;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0 0 20px white; 
     align-content: center; 
    }
.content{
    /* border: 2px solid yellow; */
    position: relative;
    margin: auto;
    margin-bottom: -10%;
  margin-left: -35%;

    height: 200px;
    width: 300px;
}
   }
   @media only screen and (min-width: 390px) and (max-width: 844px)  {
    .project_main{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
      
     
      }
      .single_projet_box{
        margin-top: 10%;
        width: 85%;
        margin: auto;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0 0 20px white; 
     align-content: center; 
    }

   }
   @media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .content{
        /* border: 2px solid yellow; */
        position: relative;
        margin: auto;
        margin-bottom:10%;
      margin-left: -35%;
        height: 250px;
        width: 600px;
    }
    .transistion{
        font-size: 40px;
      }
    }
   @media only screen and (min-width: 912px) and (max-width: 1368px)  {

   }